name: Release DevOps with Docker # Name of the workflow

on:
  push:
    branches: 
      - master

jobs:
  build: 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2 

    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with: 
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
            
    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: xelladze22/simple-crud:latest

    - name: Deploy to heroku
      if: ${{ github.event_name == 'push' && !contains(join(github.event.commits.*.message, ' '), '#skip')}}
      uses: akhileshns/heroku-deploy@v3.12.12 
      with:
        heroku_api_key: ${{secrets.HEROKU_API_KEY}}
        heroku_app_name: "simple-crud" 
        heroku_email: "atukadagio123@gmail.com"